# Text
*.cs text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.sln text eol=lf
*.csproj text eol=lf
*.vcxproj text eol=lf
# Unity text
*.prefab text eol=lf
*.asset text eol=lf
*.meta text eol=lf
# 3D models
*.3dm -text
*.3ds -text
*.blend -text
*.c4d -text
*.collada -text
*.dae -text
*.dxf -text
*.fbx -text
*.jas -text
*.lws -text
*.lxo -text
*.ma -text
*.max -text
*.mb -text
*.obj -text
*.ply -text
*.skp -text
*.stl -text
*.ztl -text
# Audio
*.aif -text
*.aiff -text
*.mp3 -text
*.ogg -text
*.wav -text
# Fonts
*.otf -text
*.ttf -text
# Images
*.bmp -text
*.hdr -text
*.jpeg -text
*.jpg -text
*.png -text
*.psd -text