/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: Apache-2.0 */

@import "../common.uss";

.float-right {
    margin-left: auto;
}

Image#UserProfilePageAccountCardNoAccountIcon {
    --unity-image: resource("Images/Icons/NoAccountIcon");
}

Image#UserProfilePageAccountCardNewAccountIcon {
    --unity-image: resource("Images/Icons/AccountIcon");
}