/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: Apache-2.0 */

@import "../common.uss";

.external-link {
    margin-left: auto;
}

Image#UserProfilePageAccountCardNoAccountIcon {
    --unity-image: resource("Image/Icons/NoAccountIcon");
}

Image#UserProfilePageAccountCardNewAccountIcon {
    --unity-image: resource("Image/Icons/AccountIcon");
}