/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: Apache-2.0 */

@import '../common.uss';

:root {
    color: var(--font-color-info-link);
}

.divider--vertical {
    background-color: rgba(255, 255, 255, 0.2);
    width: 1px;
    flex: 0 0 auto;
}

